<!DOCTYPE html>
<html lang="en"
   
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <title>Proyecto Web KN</title>
    <meta name="description" content="" />

    <link rel="stylesheet" href="~/StaticFiles/CSS/boxicons.css" />
    <link rel="stylesheet" href="~/StaticFiles/CSS/core.css" />
    <link rel="stylesheet" href="~/StaticFiles/CSS/theme-default.css" />
    <link rel="stylesheet" href="~/StaticFiles/CSS/demo.css" />
    <link rel="stylesheet" href="~/StaticFiles/CSS/perfect-scrollbar.css" />
    <link rel="stylesheet" href="~/StaticFiles/CSS/page-auth.css" />

    <script src="~/StaticFiles/JS/helpers.js"></script>
    <script src="~/StaticFiles/JS/config.js"></script>

</head>

<body>
    @RenderBody()

   <script src="~/StaticFiles/JS/jquery.js"></script>
   <script src="~/StaticFiles/JS/popper.js"></script>
   <script src="~/StaticFiles/JS/bootstrap.js"></script>
   <script src="~/StaticFiles/JS/perfect-scrollbar.js"></script>

   <script src="~/StaticFiles/JS/menu.js"></script>
   <script src="~/StaticFiles/JS/main.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>
